body {
    margin: 0;
    padding: 0;
    font-family: "Go Mono", Inconsolata, Courier, monospace;
    background-color: midnightblue;
}

.title {
    font-size: 32px;
    fill: #aaa;
}

.legend {
    font-size: 16px;
}
